# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# 该项目为依赖库, 不要独立的 vendor 目录, main.go
vendor
main.go

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# mac
.DS_Store

#golant
.idea

# vscode settings
.vscode
